@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  
  --primary-color: #005874;
  --secondary-color: #1989AC;
  --black-color: #030303;
  --lightGray-color: #ffffff;
  --gray-color: #6b7688;
  --white-color: #ffffff; 
  --yellow-color: #FFBE00;


  /* --primary-color: #001E6C;
  --secondary-color: #FCD900;
  --black-color: #030303;
  --lightGray-color: #ffffff;
  --gray-color: #035397;
  --brown-color: #46364a;
  --white-color: #FCD900; */
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}